.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
}

.hero-avatar {
  display: flex;
  gap: 10px;
  align-items: end;
  margin-bottom: 1.5rem;
}

.hero-avatar img {
  width: 4.5rem;
  border-radius: 50%;
  padding: 1px;
  border: 1px solid rgb(238, 225, 195);
}

.hero-avatar .fa-circle-check {
  font-size: 0.8rem;
  color: var(--blue);
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 0.75rem 0;
}

.hero-title {
  font-size: 2.3rem;
  line-height: 3rem;
  font-weight: 500;
  color: var(--title);
}

.hero-description {
  color: var(--sub-title);
  line-height: 1.4rem;
  font-size: 0.9rem;
}

.hero-social {
  display: flex;
  gap: 30px;
}

.hero-social .fa-github-alt,
.hero-social .fa-linkedin-in {
  font-size: 1.1rem;
  color: var(--sub-title);
}
.hero-social .fa-github-alt:hover,
.hero-social .fa-linkedin-in:hover {
  color: var(--blue);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
