.hero {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.hero-avatar {
  display: flex;
  gap: 0.6rem;
  align-items: end;
  margin-bottom: 1.5rem;
}

.hero-avatar img {
  width: 88px;
  border-radius: 50%;
  padding: 1px;
  border: 1px solid rgb(238, 225, 195);
}

.hero-avatar .fa-circle-check {
  font-size: 1.1rem;
  color: var(--blue);
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 2rem 0;
}

.hero-title {
  font-size: 2.85rem;
  line-height: 3.3rem;
  margin: 24px 0;
  font-weight: 500;
  color: var(--title);
}

.hero-description {
  color: var(--sub-title);
  line-height: 1.65rem;
  font-size: 0.9rem;
}

.hero-social {
  display: flex;
  gap: 1.5rem;
}

.hero-social .fa-github-alt,
.hero-social .fa-linkedin-in {
  font-size: 1.3rem;
  color: var(--sub-title);
}
.hero-social .fa-github-alt:hover,
.hero-social .fa-linkedin-in:hover {
  font-size: 1.4rem;
  color: var(--title);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
