.contact {
  padding: 2rem 0;
}
.contact > .contact-header {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column;
}

.contact > .contact-header > h3 {
  font-size: 2.1rem;
  margin-right: 1rem;
  color: var(--title);
  margin-bottom: 1rem;
}

.contact > .contact-header > h3 > span {
  color: var(--subtitle);
  margin-right: 1rem;
  font-size: 1.8rem;
}

.contact > .contact-header > p {
  font-size: 0.9rem;
  color: var(--sub-title);
  line-height: 1.65rem;
}

.contact > .contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.contact > .contact-content > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min-content;
}

.contact > .contact-content > form > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.contact > .contact-content > form > div > label {
  font-size: 0.9rem;
  color: var(--sub-title);
}

.contact > .contact-content > form > div > input,
.contact > .contact-content > form > div > textarea {
  width: 16rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border: 1px solid var(--border);
  border-radius: 6px;
  background-color: rgba(63, 63, 70, 0.15);
  color: var(--sub-title);
  transition: all 0.3s ease-in-out;
}

.contact > .contact-content > form > div > input:hover,
.contact > .contact-content > form > div > textarea:hover {
  outline: none;
  border: 1px solid #2e4c62;
}

.contact > .contact-content > form > div > input:focus,
.contact > .contact-content > form > div > textarea:focus {
  outline: none;
  border: 1px solid var(--blue);
}

.contact > .contact-content > form > div > textarea {
  resize: vertical;
  min-height: 9rem;
}

.contact > .contact-content > form > div > div {
  color: red;
  font-size: 14px;
  flex-basis: 100%;
  text-align: center;
}
.contact > .contact-content > form > button {
  border: none;
  width: 5rem;
  padding: 0.75rem 0;
  background-color: var(--bgHeader);
  font-size: 1.05rem;
  opacity: 0.5;
  color: var(--sub-title);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
  text-transform: capitalize;
}

.contact > .contact-content > form > button.light {
  background-color: rgb(105, 107, 107);
  color: rgb(230, 230, 230);
}

.contact > .contact-content > form > button:hover {
  color: var(--title);
  opacity: 1;
}

.contact > .contact-content > form > button.light:hover {
  color: rgb(230, 230, 230);
  background-color: rgb(40, 40, 40);
}

.contact > .message-sent {
  margin-top: 1rem;
  color: var(--blue);
}

.contact > .message-failed {
  margin-top: 1rem;
  color: red;
}

.contact > .contact-content > .contact-animation {
  width: 350px;
  height: 350px;
}
@media screen and (max-width: 600px) {
  .contact > .contact-content > form {
    width: 100%;
  }
  .contact > .contact-content > form > div {
    flex-direction: column;
    align-items: start;
  }
  .contact > .contact-content > form > div > input,
  .contact > .contact-content > form > div > textarea {
    width: 100%;
  }

  .contact > .contact-content > form > button {
    align-self: center;
  }
  .contact > .message-sent {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .contact > .contact-header > h3 {
    font-size: 1.9rem;
  }
}
