@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #000;
  --secondary: #18181b;
  --border: #28272c;
  --title: #f4f4f5;
  --sub-title: #a1a1aa;
  --bgHeader: #27272a;
  --blue: #5dbcfc;
}
.light {
  --primary: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary);
  color: #fff;
}

.container {
  border: 2px solid var(--border);
  width: 80%;
  margin: 0 auto;
  background-color: var(--secondary);
}

.devider {
  border-bottom: 1px solid var(--border);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
